body{
    background-image: url("jake-blucker-tMzCrBkM99Y-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
    margin-bottom: 2em;
}
.title{
    margin-top: 2em;
}
.rating{
    margin-bottom: 6em;
}
.l{
    padding-left: 2em;
}